:root {
  --bgColour: #ebebeb;
  --normalTextColour: #424244;
  --boxShadow1: 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --boder: lightgray;
  --hoverColour: lightgray;
  --lightText: rgb(161, 161, 161);
  --iconColour: rgb(72, 85, 90);
  --decorationColor: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
  --bigFont: 20px;
}

.usernameDiv {
  margin: 300px auto;
  width: 225px;
  text-align: center;
}
.usernameDiv h2 {
  color: var(--normalTextColour);
}
.usernameDiv input {
  color: var(--normalTextColour);
  padding: 10px 20px;
  width: 200px;
  outline: none;
}

.usernameDiv input:focus {
  outline: none;
}

body {
  background-color: var(--bgColour);
  font-family: 'Noto Sans KR', sans-serif;
}

.body {
  display: grid;
  /* min-height: 100%;
  min-width: 100%;
  max-width: 100%; */
  /* height: 100vh; */
  grid-template-columns: minmax(400px, auto) minmax(400px, 100%);
}

/* User */
.userDiv {
  grid-column: span 1;
  height: 100%;
  overflow-y: auto;
}
.user {
  /* lol  */
  min-width: 400px;
  max-width: 35%;
  height: 100%;
  position: fixed;
  padding: 0px 0px;
  border-right: solid 1px var(--boder);
}
.usersOnlineDiv {
  height: 100%;
  padding-top: 150px;
}
.usersOnline {
  display: grid;
  padding: 5px 0px;
  grid-template-columns: 25% 75%;
}

.userInfo {
  position: fixed;
  min-width: 370px;
  max-width: 35%;
  height: 150px;
  padding: 0px 15px;
  background: var(--decorationColor);
  border-bottom-color: var(--boder);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.usersOnline:hover {
  background-color: var(--hoverColour);
  border-right: solid 3px #ff4b01;
}

/* Search */
input:focus {
  outline: none;
}

.searchContainer {
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
}
.searchContainer input::placeholder {
  color: var(--boder);
}
.searchContainer input {
  border: none;
  width: 100%;
  padding: 10px 35px;
  font-size: 18px;
  border-radius: 25px;
  box-sizing: border-box;
  color: var(--normalTextColour);
}

.inputContainer {
  position: relative;
}

.inputContainer svg {
  position: absolute;
  padding: 8px 7px;
  font-size: 25px;
}

svg {
  color: var(--iconColour);
}

/*  Users Info */
.noUsersOnline {
  padding-top: 100px;
  text-align: center;
  height: 100%;
}
.noUsersOnline svg {
  font-size: 100px;
  color: var(--iconColour);
  align-self: center;
}
.userConainer {
  display: grid;
  margin: 0px 20px;
}

.userInfoContainer img {
  height: 45px;
  width: 45px;
  margin-top: 15px;
  border-radius: 100%;
  position: absolute;
}

.userInfoContainer p {
  color: var(--normalTextColour);
  font-size: var(--bigFont);
  padding: 0px 0px 0px 60px;
  color: var(--bgColour);
}

.usersOnline img {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

.chatName {
  margin: 5px 0px;
  color: var(--normalTextColour);
}
.container {
  background-color: red;
}
.dropzone:hover {
  cursor: pointer;
}
.dropzone {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  padding: 20px 20px 20px 30px;
  border-width: 2px;
  border-radius: 2px;
  border-color: var(--bgColour);
  border-style: dashed;
  background: var(--decorationColor);
  color: var(--bgColour);
  outline: none;
  position: fixed;
  width: 60%;
  bottom: 45%;

  z-index: 10;
  transition: border 0.24s ease-in-out;
}
.dropDivGb {
  background-color: var(--lightText);
}
.dropDiv {
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 60px;
}
.messageInfo {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding: 60px 0px;
}
.chatMessage {
  font-size: 15px;
  color: var(--lightText);
}

/* Chat Grid */
.chatGrid {
  /* min-width: 400px;
  max-width: 100%; */
  width: 100%;
  grid-column: span 1;
  background-color: var(--bgColour);
}

.sendMessage {
  margin-left: 1px;
  grid-column: span 1;
  position: fixed;
  background-color: red;
  bottom: 0px;
  width: 100%;
  min-width: 400px;
  max-width: 72%;
  height: 60px;
  border-top: solid 1px var(--boder);
}

.sendMessage input {
  height: 100%;
  width: inherit;
  padding: 0px 10px 0px 10px;
  color: var(--normalTextColour);
  box-sizing: border-box;
  background-color: var(--bgColour);
  border: solid 0px;
  font-size: var(--bigFont);
}

.sendMessage button:hover {
  cursor: pointer;
}

.sendMessage button {
  font-size: var(--bigFont);
  height: inherit;
  position: fixed;
  right: 0px;
  width: 135px;
  border: solid 0px;
  padding: auto 0px;
  background: var(--decorationColor);
  color: var(--bgColour);
}

.sendMessage button:disabled {
  background: var(--boder);
  cursor: default;
  color: var(--iconColour);
}

.chatInfo {
  z-index: 1;
  position: fixed;
  min-width: 400px;
  box-sizing: border-box;
  height: 60px;
  padding-right: 400px;
  width: 100%;
  background-color: var(--bgColour);
  border-bottom: solid 1px var(--boder);
}

/* Info Grid */
.infoIconDiv {
  float: right;
}
.chatInfo svg {
  text-align: right;
  font-size: 30px;
  padding: 15px 30px;
}
.chatInfo svg:hover {
  cursor: pointer;
  background-color: var(--hoverColour);
}
.userChatInfo p {
  margin-top: 15px;
  color: var(--normalTextColour);
  padding-left: 70px;
  font-size: var(--bigFont);
}
.userChatInfo img {
  height: 50px;
  padding-top: 5px;
  padding-right: 10px;
  margin-right: 10px;
  width: auto;
  position: absolute;
}
.userChatInfo {
  float: left;
  padding-right: 330px;
}

.messageDiv {
  display: grid;
  width: 300px;
  grid-template-columns: 20% minmax(100px, 80%);
  padding: 20px;
}

.messageDiv p {
  overflow-wrap: break-word;
  margin: 20px;
  padding: 0px;
  align-self: center;

  color: var(--normalTextColour);
}
.messageDiv > div {
  display: grid;
  background-color: var(--boder);
  border-radius: 0% 15px 15px 15px;
  grid-template-rows: auto auto;
  grid-template-columns: minmax(100px, auto);
  box-shadow: var(--boxShadow1);
}
.messageDiv > div > small {
  justify-self: end;
  padding-right: 10px;
  padding-bottom: 10px;
  color: var(--lightText);
}
.messageDiv img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.recievedMessage {
  display: grid;
  width: 300px;
  grid-template-columns: minmax(100px, 80%) 20%;
  padding: 20px;
  padding-left: 50%;
}

.recievedMessage p {
  overflow-wrap: break-word;
  margin: 20px;
  padding: 0px;
  justify-self: end;
  color: var(--bgColour);
}
.recievedMessage > div {
  display: grid;
  grid-column: span 1;
  background: var(--decorationColor);
  border-radius: 15px 0px 15px 15px;
  grid-template-rows: auto auto;
  grid-template-columns: minmax(100px, auto);
  box-shadow: var(--boxShadow1);
}
.recievedMessage > div > small {
  justify-self: start;
  color: var(--bgColour);
  padding-left: 10px;
  padding-bottom: 10px;
}
.recievedMessage img {
  justify-self: end;
  grid-column: 2;
  grid-row: 1;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
